h1{
    color: blueviolet;
}
form{
    background-color:blueviolet;
    color: cornsilk;
}
button{
    font-size: 20px;
}
reset{
    font-size: 20px;
}
h2{
    font-size:30px;
    color: green;
}
h3{
    color: blueviolet;
}
a{
    color: blueviolet;
}